@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

.hisobot_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}
.hisobot_card {
  width: 250px;
  height: 180px;
  display: flex;
  padding: 5px;
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
  border-radius: 8px;
  flex-direction: column-reverse;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.hisobot_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.hisobot_card > b {
  font-size: 20px;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  align-items: center;
  font-weight: bold;
  color: #343a40;
}

.hisobot_card > p {
  width: 100%;
  text-align: center;
  height: 45px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 16px;
  color: #495057;
}
