@font-face {
  font-family: "Montserrat-Bold.ttf";
  src: url("../../fonts/Montserrat-Bold.ttf"),
}

.admin-container{
  width: 100%;
  height: 100%;
  /* background-color: rebeccapurple; */

}

.admin-buttons{
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  gap: 10px;
}


.admin-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.ant-tabs {
  flex-grow: 1;
  width: 100%;
}

.ant-tabs-content-holder {
  width: 100%;
}

.admin-container {
  height: 100vh;
}

.ant-layout-sider {
  background: #1a2a6c !important;
}

.ant-menu {
  background: #1a2a6c !important;
  color: rgba(255, 255, 255, 0.65);
}

.ant-menu-item {
  color: rgba(255, 255, 255, 0.65) !important;
}

.ant-menu-item-selected {
  background-color: white !important;
  color: #1a2a6b !important;
}

.ant-menu-item:hover {
  color: white !important;
}

.red-row {
  background-color: #ffccc7 !important;
}

.yellow-row {
  background-color: #fff7e6 !important;
}

.ant-layout-header {
  background: #1a2a6c !important;
  color: white !important;
}

.ant-layout-content {
  background: #f0f2f5 !important;
}
.shu__brend__logo {
  font-weight: 200;
  font-size: 22px;
  font-family: "Montserrat-Bold.ttf";
}